@use './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');



:root {
    --c-darkest-grey: #202020;
    --c-light-grey: lightgrey;
    --c-highlight: #339989;
    --c-mid-grey: #2b2c28;
    --f-s: 0.8rem;
    --f-m: 1rem;
    --f-l: 1.5rem;
    --line-height: 2rem;
    --f-family: 'Poppins', sans-serif;
}

html {
    background-color: var(--c-darkest-grey);
    color: var(--c-light-grey);
    font-size: var(--f-m);
    font-family: var(--f-family);
    line-height: var(--line-height);
    letter-spacing: 3px;
}

.app {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    gap: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;

    a {
        margin: 0 2rem;
        &:first-of-type {
            margin: 0 2rem 0 0;
        }
        &:last-of-type {
            margin: 0 0 0 2rem;
        }
    }
}

h1,h2, .h1, .h2 {
    color: white;
    font-size: var(--f-l);
}

h3,h4, .h3, .h4{
    color:white;
    font-weight: 700;
}



a{
    text-decoration: none;
    color: var(--c-light-grey);
    &:hover{
        color: var(--c-highlight);
    }
}

ul {
    padding-left: 1rem;
    list-style: circle;
}

.post-link{
    color:white;
}
